<div class="card p-2">
  <div class="row mb-2">
    <div class="col-9 pt-1">
      <h3 class="ml-2">Library</h3>
    </div>
    <div class="col-2 offset-1 pt-2">
      <add-button (onAddClick)="addMusician()" class="float-right"></add-button>
    </div>
  </div>
  <div class="list-group">
    <library-tree-item
      *ngFor="let m of library"
      [text]="m.name"
      [isSelected]="currentMusician === m.id"
      (onSelect)="selectMusician(m.id)"
      (onEdit)="editMusician(m.id)"
      (onDelete)="deleteMusician(m.id)"
      (onAdd)="addAlbum(m.id)"
      [level]="(1)"
    >
      <library-tree-item
        *ngFor="let a of m.albums"
        [text]="a.name"
        [isSelected]="currentAlbum === a.id"
        (onSelect)="selectAlbum(a.id)"
        (onEdit)="editAlbum(a.id)"
        (onDelete)="deleteAlbum(a.id)"
        (onAdd)="addTrack(a.id)"
        [level]="(2)"
      ></library-tree-item>
    </library-tree-item>
  </div>
</div>
