<div *ngIf="track != null" class="mb-3 card">
  <div class="row m-2">
    <div class="col-1">
      <div class="h-100 py-2">
        <input type="checkbox" class="d-inline-block align-middle" />
      </div>
    </div>
    <div class="col-auto mr-auto">
      <div class="text-truncate h5 ml-2 mw-75 mb-0 p-2 align-middle">
        {{ track.name }}
      </div>
    </div>
    <div class="col-auto align-middle">
      <rating-button [rating]="track.rating"></rating-button>
    </div>
    <div class="col-auto">
      <div class="h-100 py-2">
        <button
          class="btn btn-link"
          (click)="track.isFavorite = !track.isFavorite"
        >
          <i
            class="fa-star fa-lg"
            [ngClass]="{
              'fas text-primary': track.isFavorite,
              'far text-secondary': !track.isFavorite
            }"
          ></i>
        </button>
      </div>
    </div>
  </div>
</div>
