<form [formGroup]="form">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="name" formControlName="name" [(ngModel)]="track.name" />
         
        <div class="alert alert-danger"
            *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
            Wrong name!
        </div>
    </div>
    <div class="form-group">
        <label>Duration</label>
        <input class="form-control" name="duration" formControlName="duration" [(ngModel)]="track.duration" />
         
        <div class="alert alert-danger"
            *ngIf="form.controls['duration'].invalid && form.controls['duration'].touched">
            Wrong duration!
        </div>
    </div>
</form>